amqp==2.2.2
asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
awsebcli==3.12.1
beautifulsoup4==4.6.0
billiard==3.5.0.3
botocore==1.8.36
celery==4.1.0
cement==2.8.2
certifi==2018.1.18
chardet==3.0.4
codegen==1.0
colorama==0.3.7
constantly==15.1.0
cryptography==2.1.4
cssselect==1.0.3
dj-database-url==0.4.2
Django==2.0.1
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
flake8==3.5.0
html5lib==1.0.1
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
jmespath==0.9.3
kombu==4.1.0
lxml==4.1.1
mccabe==0.6.1
mock==2.0.0
pathspec==0.5.0
patterns==0.3
pbr==3.1.1
pew==1.1.2
Pillow==5.0.0
pipenv==9.0.3
psutil==5.3.1
psycopg2==2.7.4
pycodestyle==2.3.1
PyDispatcher==2.0.5
pyflakes==1.6.0
python-dateutil==2.6.1
pytz==2017.3
PyYAML==5.4
queuelib==1.4.2
requests==2.18.4
semantic-version==2.5.0
six==1.11.0
sqlparse==0.2.4
tabulate==0.7.5
termcolor==1.1.0
urllib3==1.22
vine==1.1.4
virtualenv==15.1.0
virtualenv-clone==0.2.6
w3lib==1.18.0
webencodings==0.5.1
websocket-client==0.46.0
zope.interface==4.4.3
