{% extends 'mainpage/header.html' %}
{% load i18n %}

{% block title %}
    {{ block.super }}{% trans 'Пароль' %}
{% endblock %}

{% block menu %}
    {% include "mainpage/includes/menu.html" %}
{% endblock %}

{% block content %}
    <br>
  <p class="centerr">
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p class="centerr">
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>
    <br>
{% endblock %}