{% extends 'mainpage/header.html' %}
{% load i18n %}

{% block title %}
    {{ block.super }}{% trans 'Пароль' %}
{% endblock %}

{% block menu %}
    {% include "mainpage/includes/menu.html" %}
{% endblock %}

{% block content %}
  {% if validlink %}

    <h1 style="text-align: center; color: rgb(100,100,100); font-weight: bold;">{% trans 'Смена пароля' %}</h1>

    <div class="container-fluid ">

        <div class="row">

            <div class="col-sm-8 col-md-push-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% if error_message %}
                            <p>{{ error_message }}</p>
                        {% endif %}
                        {% if messages %}
                          <ul class="messages" >
                            {% for message in messages %}
                              <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                        <form class="form-horizontal" role="form" action="" enctype="multipart/form-data" method="post" >
                            {% csrf_token %}
                            {% include 'mainpage/includes/form_template.html' %}
                            <div class="form-group" >
                                <div class="col-sm-10" style="text-align: center">
                                    <button type="submit" class="btn btn-success btnform">{% trans 'Сменить пароль' %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>

  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}