{% extends 'mainpage/header.html' %}
{% load i18n %}

{% block title %}
    {{ block.super }}{% trans 'Наши новости' %}
{% endblock %}

{% block menu %}
    {% include "mainpage/includes/menu.html" %}
{% endblock %}

{% block content %}
    {% if user.is_staff %}
        {% for post in post_items %}

            <ul>
                <li>
                    <center>
                        <p>
                            <h2>
                                 <a class="anodec" style="font-size: x-large;color: rgb(100,100,100)" href="{{ post.get_absolute_url }}post/{{ post.pk }}">
                                     {% autoescape off %}
                                         {{ post.title }}
                                     {% endautoescape %}
                                 </a>
                            </h2>
                        </p>
                    </center>
                </li>

                <li>
                    <center>
                        <p style="color: rgb(128,128,128)">
                            {{ post.create_date }}
                        </p>
                    </center>
                </li>
                <li>
                    <center>
                      {% autoescape off  %}
                          {% if post.pic != None %}
                              {{ post.pic }}
                          {% endif %}
                      {% endautoescape %}
                    </center>
                </li>
                <li>
                <center>
                    <p>
                        {% autoescape off %}{{ post.preview  }}{% endautoescape %}
                    </p>
                </center>
                </li>


                <li>
                    <center>
                            {% block continue %}
                                <a style="color:rgb(100,100,100); font-size: medium; font-weight: inherit;" href="{{ post.get_absolute_url }}post/{{ post.pk }}">{% trans 'Увидеть пост целиком..' %}</a>
                                <br><br><br><br><br>
                            {% endblock %}
                    </center>
                </li>

            </ul>
        {% endfor  %}

        {% if not post_items %}

            <br>
                <p class="centerr"> {% trans 'Новостей пока что нету, ожидайте их вскоре!' %} </p>
            <br>

        {% endif %}
    {% else %}

        <br>
        <p class="centerr"> {% trans 'У вас недостаточно прав для просмотра этой страницы.' %}</p>
        <br>

    {% endif %}
{% endblock %}